<body>
    <link rel="stylesheet" href="/stylesheet/index.css">
    <%-include("./include/navbar.ejs")%>
    <div class="mainbox">
        <div class="details">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Father's Name</th>
                        <th>Join Date</th>
                        <th>Fee</th>
                        <th>Click for Details</th>
                    </tr>
                </thead>
                <tbody>
                    <% allstudent.forEach((st, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><%= st.student_name %></td>
                            <td><%= st.fathers_name %></td>
                            <td><%= new Date(st.join_date).toLocaleDateString("en-IN", { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
                            <td><%= st.fee %></td>
                            <td>
                                <form action="/details/<%= st._id %>" method="get">
                                    <button type="submit">View Details</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    
</body>
<!-- <footer>
<%-include("./include/footer.ejs")%>
</footer> -->

</html>
